body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#Saludo {
  background-color: #eee;
  text-align: center;
  padding: 20px;
}

#DescargarLibros, #DescargarTarjetas {
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

li {
  margin-bottom: 10px;
}

a {
  display: block;
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
}

a:hover {
  background-color: #ccc;
}

.buttonClassProg{
  height: 38px;
  width: 38px;

}

.saludoLogoClub{
  height: 15%;
  width: 15%;
  display: inline-block;
}

.footer-container{
  margin-bottom: 20px;
  width: 100%;
  background-color: #ccc;
  align-items: center;
  text-align: center;
}

.footer-container .social-redes ul{
  display: inline-block;
  background-color: #ccc;
  align-items: center;
}

.footer-container .social-redes li a{
  width: 100%;
  display: inline-block;
  align-items: center;
}

.footer-icon-social{
  width: 3%;
  height: 3%;
  
  align-items: center;
}






  