.main-section {
    display: flex;
    align-items: center;
    justify-content: center;

}

.descripcion {
    width: 40%;
    padding: 10px 0px 10px 10px;
    background-color: #95b2dd71;
    border-radius: 2%;
}

.descripcion p,
h2, .p-final {
    color: rgb(0, 0, 0);
    text-align: center;
}

.descripcion p, .p-final{
    font-size: 1.2rem;
}

.wrapper {
    padding: 10px 10px 10px 10px;
    display: flex;
    width: 50%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #f2f2f2;
}

.wrapper i:first-child {
    left: -0px;
    display: none;
}

.wrapper i:last-child {
    right: -0px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 380px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 2);
    border-radius: 5%;
}

.carousel img:first-child {
    margin-left: 0px;
}

/********************* Aqui empieza los estilos para los botones *****************************/
.button-section .button-serv {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

.button-section .button-serv a{
    border: 1px solid #0d6dfdbb;
    background-color: #0d6dfdbb;
    margin-top: 10px;
    font-size: 1rem;
    cursor: pointer;
    height: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}

.button-serv a{
    color: white;
}

.button-section .button-serv a:hover {
    background-color: #0B5ED7;
    border: 2px solid #0B5ED7;
}


/***************** Empieza la parte responsive *********************/

@media screen and (max-width : 550px) {
    .carousel img {
        width: 100%;
    }

    .main-section {
        flex-direction: column;
    }

    .descripcion {
        width: 90%;
    }

    .wrapper {
        width: 90%;
    }

    .button-section .button-serv{
        width: 95%;
    }

}