
/* Main Styles */
#Saludo { 
  
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#Saludo h1 {
  font-size: 2rem;
  margin-bottom: 5px;
  text-align: center;
}

.saludoLogoClub {
  width: 250px;
  margin-top: 5px;
}

#container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  /* flex-wrap: wrap; */
}

/*Comentario*/
#container .conquistadores-section,
#container .section-title-aventureros {
  width: 100%;
}

.conquistadores-section div,
.section-title-aventureros div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
}

.conquistadores-section div h2,
.section-title-aventureros div h2{
  font-size: 28px;
}

.containerSectionConquistadores,
.section-aventureros {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.containerSectionConquistadores div,
.section-aventureros div {
  width: 40%;
  padding: 0 20px;
}

/* #DescargarLibros, #DescargarTarjetas {
  width: 50%;
  padding: 40px;
} */

#DescargarLibros h3, #DescargarLibrosAvent h3 {
  margin-bottom: 20px;
}

.libroDescarga {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.libroDescarga:hover {
  color: rgb(0, 102, 255);
}

#DescargarLibrosAvent #Aventureros-section, #DescargarLibros .conquistadores-section {
  display: flex;
  align-items: center;
}

#DescargarLibrosAvent #Aventureros-section img, 
#DescargarLibros .conquistadores-section img {
  padding-right: 10px;
}

/* Estilos para dispositivos móviles ***********************************************/
@media only screen and (max-width: 600px) {
  
  /* Main Styles */
  #Saludo {
    padding: 10px;
  }

  #Saludo h1 {
    font-size: 1.2rem;
    color: black;
  }

  .saludoLogoClub {
    width: 40%;
    margin-top: 5px;
  }

  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
  }

.containerSectionConquistadores .Descargar,
.section-aventureros .Descargar {
  width: 100%;
  padding: 0 30px;
}

.containerSectionConquistadores, .section-aventureros{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.conquistadores-section div h2, .section-title-aventureros div h2{
  font-size: 1.5rem;
}

#container .conquistadores-section,
#container .section-title-aventureros {
  width: 95%;
}

  #DescargarLibros,
  #DescargarTarjetas, #DescargarLibrosAvent, #DescargarTarjetasAvent {
    padding: 0px 20px 0px 20px;
    
  }

  .Descargar h3{
    font-size: 20px;
    padding-left: 20px;
  }

  .libroDescarga {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
  }
  
}


/* Colors */
/* Azul: #0072c6 */
/* Rojo: #dc3545 */
/* Verde: #28a745 */
/* Gris: #ccc */
/* Amarillo: #ffc107 */

/*AQUI EMPIEZA A DARLE ESTILOS AL INICIO */

