body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#Saludo {
  background-color: #eee;
  text-align: center;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #F44336;
}


#DescargarLibros, #DescargarTarjetas {
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

li {
  margin-bottom: 10px;
}

a {
  display: block;
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
}

a:hover {
  background-color: #ccc;
}

.buttonClassProg{
  height: 38px;
  width: 38px;

}

.saludoLogoClub{
  height: 18%;
  width: 18%;
  display: inline-block;
}

#Saludo h1{
  font-size: 1.8rem;
}

footer {
  background-color: #f2f2f2;
  padding: 40px 0;
  font-size: 16px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social a {
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
  color: #333;
}

.footer-social a:hover {
  color: #555;
}

.footer-address {
  text-align: center;
}

.footer-info {
  text-align: right;
  font-style: italic;
  color: #666;
}

.footer-info p:first-of-type {
  margin-bottom: 5px;
}
 